html {
    background-color: black;
}
.img-bg {
    background-image: url("universe.jpeg");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
}
